<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Customer Care</title>
</head>
<body>
    <form action="/submit" method="post" class="form">
        <h1>Customer Care</h1>
        <div class="form-data">
            <label for="name">Name:</label>
            <input name="name" placeholder="Name" type="text" required>
        </div>
        <div class="form-data">
            <label for="email">Email:</label>
            <input name="email" placeholder="Customer Email" type="email" required>
        </div>
        <div class="form-data">
            <label for="complaint">Complaint:</label>
            <textarea name="complaint" cols="30" rows="10" placeholder="Customer Complaint"  required></textarea>
        </div>
        <button type="submit" class="btns">Submit</button>
        <a href="/login"><button type="button" class="btns">Logout</button></a>
    </form>
</body>
</html>