<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register</title>
</head>
<body>
    <form method="post" action="/validateRegister" class="form">
        <h1>Register Page</h1>
        <div class="form-data">
            <label for="name">Name:</label>
            <input name="name" placeholder="Name" type="text" required>
        </div>
        <div class="form-data">
            <label for="email">Email:</label>
            <input name="email" placeholder="Email" type="email" required>
        </div>
        <div class="form-data">
            <label for="password">Password:</label>
            <input name="password" placeholder="Password" type="password" required>
        </div>
        <br>
        <br>
        <button type="submit" class="btns">Submit</button>
        <a href="/"><button type="button" class="btns">Back</button></a>
    </form>
</body>
</html>