{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<h1 align="center">My HomePage</h1>
<p>
	<marquee><b><h3>Sanjay.S</h3></b></marquee>
		<u><b>Education</b></u><br>
			Bachelor Of Computer Science and Engineering<br>
			* Velammal Institute Of Technology,Panchetti<br>
				06/2019 - Present, 9.05(till Sem5)<br>
			* Higher Secondary Certificate<br>
			  Velammal Matriculation Higher Secondary School,Surapet<br>
				06/2018 - 05/2019, 74.17%(Cse Group)<br>
			* Secondary School Leaving Certificate<br>
			  Velammal Matriculation Higher Secondary School,Surapet<br>
				07/2016 - 05/2017, 89.80%<br>
		<u><b>Personal Details</b></u><br>
			Date Of Birth: 18/04/2002<br>
			Gender:        Male<br>
			Mother's Name: VIJI S<br>
			Address      : 74, Kolathur, Chennai-99<br>
			Language     : TAMIL,ENGLISH,JAPANESE<br>
		<u><b>Hard Skills</b></u><br>
			JAVA[OOPS CONCEPT]: Full Professional Proficiency<br>
			SQL               : Professional Working Proficiency<br>
			C                 : Professional Working Proficiency<br>
			HTML & CSS        : Professional Working Proficiency<br><br><br>
</p>
<h1 align="center">Comments</h1>
<ul class="list-group list-group-flush" id="Description">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
</ul>
<form method="POST">
  <div align="center">
    <button type="submit" class="btn btn-primary">add notes</button>
  </div>
</form>
{% endblock %}
